.reyes{
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  padding: 30px 60px;
  justify-content: center;
}
.rey{
  justify-content: center;
  text-align: center;
}

.navl{
background-color: white;
}


a{
  background-color: gray;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}

.activado{
  background-color: gold;
  color: red;
}

